@import '../base';

$aether-grid-type: $aether-grid-type-handheld;
$aether-columns: $aether-columns-handheld;
$aether-grid-width: $aether-grid-width-handheld;
$aether-media: $aether-media-handheld;

/* Handheld Portrait */
@include respond-to(handheld) {
  @include limiter($aether-limiter-class, $aether-grid-width, $aether-break-smallest, min);

  .#{$aether-gridprefix}-all-row {
    @include container(full);
    @include aether-grid-background;
  }

  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-classes($aether-media-desktop,$aether-columns-desktop);

  // Generate column classes for handheld media
  @include grid-classes(ltr);

}
