@import '../base';

$aether-float-direction: right;
$aether-grid-type: $aether-grid-type-tablet-landscape;
$aether-columns: $aether-columns-tablet;
$aether-grid-width: $aether-grid-width-tablet-landscape;
$aether-media: $aether-media-tablet-landscape;

/* Tablet Landscape */
@include respond-to(tablet-landscape) {

  @include zero-classes($aether-media-desktop,$aether-columns-desktop);

  // Generate column classes for handheld landscape media
  @include grid-classes(rtl);

}
