/*
 * Forms
 */

//
// Local mixins are documented here, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
//

/* Form vertical rhythm */

fieldset {
  @include rhythm-borders(1px, 1, $font-size-normal, solid);
  border-color: $text-border-alt;
}

.form-item,
.form-actions {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

// system.theme.css override
.container-inline .form-actions,
.container-inline.form-actions {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

.form-type-textfield,
.form-type-date,
.form-type-select,
.form-type-file,
.form-type-managed-file,
.form-type-password {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

input.password-confirm,
input.password-field {
  margin-bottom: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  @include margin-leader(0, $font-size-normal);
  @include margin-trailer(0, $font-size-normal);
}

/* Responsive forms */

form > div {
  margin: 0;
  padding: 0 5px;
}

input[type=text],
input[type=password],
textarea {
  line-height: 1.2em;
  max-width: 100%;
  padding: 3px 0;
}

form > div,
input[type=text],
textarea {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

// Login form

#user-login-form .item-list ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* UI Consistency */
// Derived from formalize https://github.com/nathansmith/formalize/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 3px;
  position: relative;
  top: 3px;
  // IE8, IE9, IE10
  top: 0 \0;
  vertical-align: top;
}

.ie7 {
  input[type="radio"],
  input[type="checkbox"] {
    top: -3px;
  }
}

// iPad
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

// iPad 3
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

// iPhone 3
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

// iPhone 4
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  @include box-shadow(#0066ff 0 0 7px 0);
  // for Opera
  z-index: 1;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    @include box-shadow(none);
  }
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include adjust-font-size-to($font-size-sm,1);
  @include background-clip(padding-box);
  @include background-image(linear-gradient($button-color-1, $button-color-3));
  @include border-radius(4px);
  @include text-shadow(rgba(white, 0) 0 1px 1px);
  -webkit-appearance: none;
  background: $button-background image-url("button.png") repeat-x;
  border: 1px solid;
  border-color: $button-border-1 $button-border-2 $button-border-3;
  color: $text-color;
  cursor: pointer;
  font-family: $button-font-family;
  margin-right: 3px;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  width: auto;
  &:hover {
    @include background-image(linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3)); }
  &:active {
    @include background-image(linear-gradient($button-color-active-1, $button-color-active-2 33%, $button-color-active-3));
    @include box-shadow(inset rgba(black, 0.25) 0 1px 2px 0);
    border-color: $text-border-alt-2 $text-border-alt $text-border;
  }
}

// IE7
@if $legacy-support-for-ie7 {
  .ie7 {
    button,
    input[type="reset"],
    input[type="submit"],
    input[type="button"] {
      padding-bottom: 0;
      padding-top: 2px;
    }
  }
  .ie7 button {
    padding-bottom: 1px;
    padding-top: 1px;
  }
}

// IE6
@if $legacy-support-for-ie6 {
  .ie6 .form-submit {
    @include adjust-font-size-to($font-size-sm,1);
    background: $button-background image-url("button.png") repeat-x;
    border: 1px solid;
    border-color: $button-border-1 $button-border-2 $button-border-3;
    color: $text-color;
    cursor: pointer;
    font-family: $input-font-family;
    font-style: bold;
    overflow: visible;
    padding: 2px 10px 0px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto;
  }
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include adjust-font-size-to($font-size-normal,1);
  @include background-clip(padding-box);
  @include border-radius(0);
  @include box-sizing(border-box);
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: $form-border-1 $form-border-2 $form-border-3;
  color: black;
  font-family: $input-font-family;
  outline: 0;
  padding: 3px;
  text-align: left;
  &[disabled] {
    background-color: #eeeeee;
  }
}

// IE7
@if $legacy-support-for-ie7 {
  .ie7 {
    textarea,
    select,
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"] {
      height: auto;
      padding-bottom: 1px;
      padding-top: 2px;
    }
  }
}

// IE6
@if $legacy-support-for-ie6 {
  .ie6 textarea,
  .ie6 select,
  .ie6 input.form-text {
    @include adjust-font-size-to($font-size-normal,1);
    background: white;
    border: 1px solid;
    border-color: $form-border-1 $form-border-2 $form-border-3;
    color: black;
    font-family: $input-font-family;
    padding: 2px 3px 1px;
    vertical-align: top;
  }
  .ie6 select {
    margin-top: 1px;
  }
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  @include box-shadow(none);
  color: $form-disabled;
  cursor: default;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

// IE6
@if $legacy-support-for-ie6 {
  .ie6 input.form-button-disabled {
    color: $form-disabled;
  }
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
::-webkit-input-placeholder {
  color: $form-disabled;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $form-disabled;
}

// going to replace when i find out a class name for placeholder text in drupal
input.placeholder_text,
textarea.placeholder_text {
  color: $form-disabled;
}

:invalid {
  // Suppress red glow that Firefox
  // adds to form fields by default,
  // even when user is still typing.
  @include box-shadow(none);
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: image-url("select_arrow.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: rgba(black, 0.5) 0 0 5px 0;
    box-shadow: rgba(black, 0.5) 0 0 5px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: $form-border-1 $form-border-2 $form-border-3;
    color: white;
    font-family: $input-font-family;
    @include adjust-font-size-to($font-size-sm,1);
    height: 16px;
    overflow: hidden;
    padding: 15px 15px 17px;
    @include text-shadow(rgba(black, 0) 0 0 1px);
  }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    background: #666666;
    border: 0;
    box-shadow: none;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}
