/* Tablet Landscape */
@media only screen and (min-width: 980px) and (max-width: 1159px) { .limiter { margin-left: auto; margin-right: auto; width: 968px; }
  .g-all-row, #main { margin-left: 1.03306%; margin-right: 1.03306%; }
  .g-all-row:after, #main:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .ie6 .g-all-row, .ie6 #main { height: 1%; }
  .ie7 .g-all-row, .ie7 #main { min-height: 1%; }
  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 { margin-left: 0; }
  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 { margin-left: 10px; margin-right: 10px; }
  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 { margin-left: 10px; }
  .g-d-1, .g-d-2, .g-d-3, .g-d-4, #aside1, #aside2, .g-d-5, .g-d-6, .g-d-7, .g-d-8, #content, .g-d-9, .g-d-10, .g-d-11, .g-d-12 { width: auto; }
  .g-d-right, #aside2 { float: none; display: block; }
  .g-d-12, .g-d-f, .g-d-l, .g-d-clear { clear: none; }
  .g-tl-1 { margin-left: 1.05485%; margin-right: 1.05485%; width: 6.22363%; }
  .g-tl-2 { margin-left: 1.05485%; margin-right: 1.05485%; width: 14.55696%; }
  .g-tl-3 { margin-left: 1.05485%; margin-right: 1.05485%; width: 22.8903%; }
  .g-tl-4, #aside1, #aside2 { margin-left: 1.05485%; margin-right: 1.05485%; width: 31.22363%; }
  .g-tl-5 { margin-left: 1.05485%; margin-right: 1.05485%; width: 39.55696%; }
  .g-tl-6 { margin-left: 1.05485%; margin-right: 1.05485%; width: 47.8903%; }
  .g-tl-7 { margin-left: 1.05485%; margin-right: 1.05485%; width: 56.22363%; }
  .g-tl-8, #content { margin-left: 1.05485%; margin-right: 1.05485%; width: 64.55696%; }
  .g-tl-9 { margin-left: 1.05485%; margin-right: 1.05485%; width: 72.8903%; }
  .g-tl-10 { margin-left: 1.05485%; margin-right: 1.05485%; width: 81.22363%; }
  .g-tl-11 { margin-left: 1.05485%; margin-right: 1.05485%; width: 89.55696%; }
  .g-tl-12 { margin-left: 1.05485%; margin-right: 1.05485%; width: 97.8903%; }
  .g-tl-center { margin-left: auto; margin-right: auto; float: none; display: block; }
  .g-tl-center-text { text-align: center; float: none; display: block; }
  .g-tl-clear, .g-tl-12 { clear: both; }
  .g-tl-o1 { margin-left: 8.33333%; width: 100%; }
  .g-tl-o2 { margin-left: 16.66667%; width: 100%; }
  .g-tl-o3 { margin-left: 25%; width: 100%; }
  .g-tl-o4 { margin-left: 33.33333%; width: 100%; }
  .g-tl-o5 { margin-left: 41.66667%; width: 100%; }
  .g-tl-o6 { margin-left: 50%; width: 100%; }
  .g-tl-o7 { margin-left: 58.33333%; width: 100%; }
  .g-tl-o8 { margin-left: 66.66667%; width: 100%; }
  .g-tl-o9 { margin-left: 75%; width: 100%; }
  .g-tl-o10 { margin-left: 83.33333%; width: 100%; }
  .g-tl-o11 { margin-left: 91.66667%; width: 100%; }
  .g-tl-push1 { margin-left: 89px; margin-right: -69px; }
  .g-tl-push2 { margin-left: 168px; margin-right: -148px; }
  .g-tl-push3 { margin-left: 247px; margin-right: -227px; }
  .g-tl-push4 { margin-left: 326px; margin-right: -306px; }
  .g-tl-push5 { margin-left: 405px; margin-right: -385px; }
  .g-tl-push6 { margin-left: 484px; margin-right: -464px; }
  .g-tl-push7 { margin-left: 563px; margin-right: -543px; }
  .g-tl-push8 { margin-left: 642px; margin-right: -622px; }
  .g-tl-push9 { margin-left: 721px; margin-right: -701px; }
  .g-tl-push10 { margin-left: 800px; margin-right: -780px; }
  .g-tl-push11 { margin-left: 879px; margin-right: -859px; }
  .g-tl-pull1 { margin-left: -69px; }
  .g-tl-pull2 { margin-left: -148px; }
  .g-tl-pull3 { margin-left: -227px; }
  .g-tl-pull4 { margin-left: -306px; }
  .g-tl-pull5 { margin-left: -385px; }
  .g-tl-pull6 { margin-left: -464px; }
  .g-tl-pull7 { margin-left: -543px; }
  .g-tl-pull8 { margin-left: -622px; }
  .g-tl-pull9 { margin-left: -701px; }
  .g-tl-pull10 { margin-left: -780px; }
  .g-tl-pull11 { margin-left: -859px; }
  .g-tl-right, #aside2 { display: inline; float: right; }
  .g-tl-left { display: inline; float: left; }
  .g-tl-f { clear: left; }
  .g-tl-l { clear: right; } }
/*  Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 979px) { .limiter { margin-left: auto; margin-right: auto; width: 752px; }
  .g-all-row, #main { margin-left: 1.32979%; margin-right: 1.32979%; }
  .g-all-row:after, #main:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .ie6 .g-all-row, .ie6 #main { height: 1%; }
  .ie7 .g-all-row, .ie7 #main { min-height: 1%; }
  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 { margin-left: 0; }
  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 { margin-left: 10px; margin-right: 10px; }
  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 { margin-left: 10px; }
  .g-d-1, .g-d-2, .g-d-3, .g-d-4, #aside1, #aside2, .g-d-5, .g-d-6, .g-d-7, .g-d-8, #content, .g-d-9, .g-d-10, .g-d-11, .g-d-12 { width: auto; }
  .g-d-right, #aside2 { float: none; display: block; }
  .g-d-12, .g-d-f, .g-d-l, .g-d-clear { clear: none; }
  .g-t-1 { margin-left: 1.36612%; margin-right: 1.36612%; width: 5.60109%; }
  .g-t-2 { margin-left: 1.36612%; margin-right: 1.36612%; width: 13.93443%; }
  .g-t-3 { margin-left: 1.36612%; margin-right: 1.36612%; width: 22.26776%; }
  .g-t-4, #aside1 { margin-left: 1.36612%; margin-right: 1.36612%; width: 30.60109%; }
  .g-t-5 { margin-left: 1.36612%; margin-right: 1.36612%; width: 38.93443%; }
  .g-t-6 { margin-left: 1.36612%; margin-right: 1.36612%; width: 47.26776%; }
  .g-t-7 { margin-left: 1.36612%; margin-right: 1.36612%; width: 55.60109%; }
  .g-t-8, #content, #aside2 { margin-left: 1.36612%; margin-right: 1.36612%; width: 63.93443%; }
  .g-t-9 { margin-left: 1.36612%; margin-right: 1.36612%; width: 72.26776%; }
  .g-t-10 { margin-left: 1.36612%; margin-right: 1.36612%; width: 80.60109%; }
  .g-t-11 { margin-left: 1.36612%; margin-right: 1.36612%; width: 88.93443%; }
  .g-t-12 { margin-left: 1.36612%; margin-right: 1.36612%; width: 97.26776%; }
  .g-t-center { margin-left: auto; margin-right: auto; float: none; display: block; }
  .g-t-center-text { text-align: center; float: none; display: block; }
  .g-t-clear, .g-t-12 { clear: both; }
  .g-t-o1 { margin-left: 8.33333%; width: 100%; }
  .g-t-o2 { margin-left: 16.66667%; width: 100%; }
  .g-t-o3 { margin-left: 25%; width: 100%; }
  .g-t-o4 { margin-left: 33.33333%; width: 100%; }
  .g-t-o5 { margin-left: 41.66667%; width: 100%; }
  .g-t-o6 { margin-left: 50%; width: 100%; }
  .g-t-o7 { margin-left: 58.33333%; width: 100%; }
  .g-t-o8 { margin-left: 66.66667%; width: 100%; }
  .g-t-o9 { margin-left: 75%; width: 100%; }
  .g-t-o10 { margin-left: 83.33333%; width: 100%; }
  .g-t-o11 { margin-left: 91.66667%; width: 100%; }
  .g-t-push1 { margin-left: 71px; margin-right: -51px; }
  .g-t-push2 { margin-left: 132px; margin-right: -112px; }
  .g-t-push3 { margin-left: 193px; margin-right: -173px; }
  .g-t-push4 { margin-left: 254px; margin-right: -234px; }
  .g-t-push5 { margin-left: 315px; margin-right: -295px; }
  .g-t-push6 { margin-left: 376px; margin-right: -356px; }
  .g-t-push7 { margin-left: 437px; margin-right: -417px; }
  .g-t-push8 { margin-left: 498px; margin-right: -478px; }
  .g-t-push9 { margin-left: 559px; margin-right: -539px; }
  .g-t-push10 { margin-left: 620px; margin-right: -600px; }
  .g-t-push11 { margin-left: 681px; margin-right: -661px; }
  .g-t-pull1 { margin-left: -51px; }
  .g-t-pull2 { margin-left: -112px; }
  .g-t-pull3 { margin-left: -173px; }
  .g-t-pull4 { margin-left: -234px; }
  .g-t-pull5 { margin-left: -295px; }
  .g-t-pull6 { margin-left: -356px; }
  .g-t-pull7 { margin-left: -417px; }
  .g-t-pull8 { margin-left: -478px; }
  .g-t-pull9 { margin-left: -539px; }
  .g-t-pull10 { margin-left: -600px; }
  .g-t-pull11 { margin-left: -661px; }
  .g-t-right, #aside1 { display: inline; float: right; }
  .g-t-left { display: inline; float: left; }
  .g-t-f { clear: left; }
  .g-t-l { clear: right; } }
/* Handheld Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) { html { -ms-text-size-adjust: none; -webkit-text-size-adjust: none; }
  .limiter { margin-left: auto; margin-right: auto; width: 428px; }
  .g-all-row, #main { margin-left: 2.33645%; margin-right: 2.33645%; }
  .g-all-row:after, #main:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .ie6 .g-all-row, .ie6 #main { height: 1%; }
  .ie7 .g-all-row, .ie7 #main { min-height: 1%; }
  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 { margin-left: 0; }
  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 { margin-left: 10px; margin-right: 10px; }
  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 { margin-left: 10px; }
  .g-d-1, .g-d-2, .g-d-3, .g-d-4, #aside1, #aside2, .g-d-5, .g-d-6, .g-d-7, .g-d-8, #content, .g-d-9, .g-d-10, .g-d-11, .g-d-12 { width: auto; }
  .g-d-right, #aside2 { float: none; display: block; }
  .g-d-12, .g-d-f, .g-d-l, .g-d-clear { clear: none; }
  .g-hl-1 { margin-left: 2.45098%; margin-right: 2.45098%; width: 3.43137%; }
  .g-hl-2 { margin-left: 2.45098%; margin-right: 2.45098%; width: 11.76471%; }
  .g-hl-3 { margin-left: 2.45098%; margin-right: 2.45098%; width: 20.09804%; }
  .g-hl-4 { margin-left: 2.45098%; margin-right: 2.45098%; width: 28.43137%; }
  .g-hl-5 { margin-left: 2.45098%; margin-right: 2.45098%; width: 36.76471%; }
  .g-hl-6, #content, #aside1 { margin-left: 2.45098%; margin-right: 2.45098%; width: 45.09804%; }
  .g-hl-7 { margin-left: 2.45098%; margin-right: 2.45098%; width: 53.43137%; }
  .g-hl-8 { margin-left: 2.45098%; margin-right: 2.45098%; width: 61.76471%; }
  .g-hl-9 { margin-left: 2.45098%; margin-right: 2.45098%; width: 70.09804%; }
  .g-hl-10 { margin-left: 2.45098%; margin-right: 2.45098%; width: 78.43137%; }
  .g-hl-11 { margin-left: 2.45098%; margin-right: 2.45098%; width: 86.76471%; }
  .g-hl-12, #aside2 { margin-left: 2.45098%; margin-right: 2.45098%; width: 95.09804%; }
  .g-hl-center { margin-left: auto; margin-right: auto; float: none; display: block; }
  .g-hl-center-text { text-align: center; float: none; display: block; }
  .g-hl-clear, .g-hl-12, #aside2 { clear: both; }
  .g-hl-o1 { margin-left: 8.33333%; width: 100%; }
  .g-hl-o2 { margin-left: 16.66667%; width: 100%; }
  .g-hl-o3 { margin-left: 25%; width: 100%; }
  .g-hl-o4 { margin-left: 33.33333%; width: 100%; }
  .g-hl-o5 { margin-left: 41.66667%; width: 100%; }
  .g-hl-o6 { margin-left: 50%; width: 100%; }
  .g-hl-o7 { margin-left: 58.33333%; width: 100%; }
  .g-hl-o8 { margin-left: 66.66667%; width: 100%; }
  .g-hl-o9 { margin-left: 75%; width: 100%; }
  .g-hl-o10 { margin-left: 83.33333%; width: 100%; }
  .g-hl-o11 { margin-left: 91.66667%; width: 100%; }
  .g-hl-push1 { margin-left: 44px; margin-right: -24px; }
  .g-hl-push2 { margin-left: 78px; margin-right: -58px; }
  .g-hl-push3 { margin-left: 112px; margin-right: -92px; }
  .g-hl-push4 { margin-left: 146px; margin-right: -126px; }
  .g-hl-push5 { margin-left: 180px; margin-right: -160px; }
  .g-hl-push6 { margin-left: 214px; margin-right: -194px; }
  .g-hl-push7 { margin-left: 248px; margin-right: -228px; }
  .g-hl-push8 { margin-left: 282px; margin-right: -262px; }
  .g-hl-push9 { margin-left: 316px; margin-right: -296px; }
  .g-hl-push10 { margin-left: 350px; margin-right: -330px; }
  .g-hl-push11 { margin-left: 384px; margin-right: -364px; }
  .g-hl-pull1 { margin-left: -24px; }
  .g-hl-pull2 { margin-left: -58px; }
  .g-hl-pull3 { margin-left: -92px; }
  .g-hl-pull4 { margin-left: -126px; }
  .g-hl-pull5 { margin-left: -160px; }
  .g-hl-pull6 { margin-left: -194px; }
  .g-hl-pull7 { margin-left: -228px; }
  .g-hl-pull8 { margin-left: -262px; }
  .g-hl-pull9 { margin-left: -296px; }
  .g-hl-pull10 { margin-left: -330px; }
  .g-hl-pull11 { margin-left: -364px; }
  .g-hl-right { display: inline; float: right; }
  .g-hl-left { display: inline; float: left; }
  .g-hl-f { clear: left; }
  .g-hl-l { clear: right; } }
/* Handheld Portrait */
@media only screen and (max-width: 479px) { .limiter { margin-left: auto; margin-right: auto; width: 308px; }
  .g-all-row, #main { margin-left: 3.24675%; margin-right: 3.24675%; }
  .g-all-row:after, #main:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
  .ie6 .g-all-row, .ie6 #main { height: 1%; }
  .ie7 .g-all-row, .ie7 #main { min-height: 1%; }
  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 { margin-left: 0; }
  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 { margin-left: 10px; margin-right: 10px; }
  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 { margin-left: 10px; }
  .g-d-1, .g-d-2, .g-d-3, .g-d-4, #aside1, #aside2, .g-d-5, .g-d-6, .g-d-7, .g-d-8, #content, .g-d-9, .g-d-10, .g-d-11, .g-d-12 { width: auto; }
  .g-d-right, #aside2 { float: none; display: block; }
  .g-d-12, .g-d-f, .g-d-l, .g-d-clear { clear: none; }
  .g-h-1 { margin-left: 3.47222%; margin-right: 3.47222%; width: 1.38889%; }
  .g-h-2 { margin-left: 3.47222%; margin-right: 3.47222%; width: 9.72222%; }
  .g-h-3 { margin-left: 3.47222%; margin-right: 3.47222%; width: 18.05556%; }
  .g-h-4 { margin-left: 3.47222%; margin-right: 3.47222%; width: 26.38889%; }
  .g-h-5 { margin-left: 3.47222%; margin-right: 3.47222%; width: 34.72222%; }
  .g-h-6 { margin-left: 3.47222%; margin-right: 3.47222%; width: 43.05556%; }
  .g-h-7 { margin-left: 3.47222%; margin-right: 3.47222%; width: 51.38889%; }
  .g-h-8 { margin-left: 3.47222%; margin-right: 3.47222%; width: 59.72222%; }
  .g-h-9 { margin-left: 3.47222%; margin-right: 3.47222%; width: 68.05556%; }
  .g-h-10 { margin-left: 3.47222%; margin-right: 3.47222%; width: 76.38889%; }
  .g-h-11 { margin-left: 3.47222%; margin-right: 3.47222%; width: 84.72222%; }
  .g-h-12, #content, #aside1, #aside2 { margin-left: 3.47222%; margin-right: 3.47222%; width: 93.05556%; }
  .g-h-center { margin-left: auto; margin-right: auto; float: none; display: block; }
  .g-h-center-text { text-align: center; float: none; display: block; }
  .g-h-clear, .g-h-12, #content, #aside1, #aside2 { clear: both; }
  .g-h-o1 { margin-left: 8.33333%; width: 100%; }
  .g-h-o2 { margin-left: 16.66667%; width: 100%; }
  .g-h-o3 { margin-left: 25%; width: 100%; }
  .g-h-o4 { margin-left: 33.33333%; width: 100%; }
  .g-h-o5 { margin-left: 41.66667%; width: 100%; }
  .g-h-o6 { margin-left: 50%; width: 100%; }
  .g-h-o7 { margin-left: 58.33333%; width: 100%; }
  .g-h-o8 { margin-left: 66.66667%; width: 100%; }
  .g-h-o9 { margin-left: 75%; width: 100%; }
  .g-h-o10 { margin-left: 83.33333%; width: 100%; }
  .g-h-o11 { margin-left: 91.66667%; width: 100%; }
  .g-h-push1 { margin-left: 34px; margin-right: -14px; }
  .g-h-push2 { margin-left: 58px; margin-right: -38px; }
  .g-h-push3 { margin-left: 82px; margin-right: -62px; }
  .g-h-push4 { margin-left: 106px; margin-right: -86px; }
  .g-h-push5 { margin-left: 130px; margin-right: -110px; }
  .g-h-push6 { margin-left: 154px; margin-right: -134px; }
  .g-h-push7 { margin-left: 178px; margin-right: -158px; }
  .g-h-push8 { margin-left: 202px; margin-right: -182px; }
  .g-h-push9 { margin-left: 226px; margin-right: -206px; }
  .g-h-push10 { margin-left: 250px; margin-right: -230px; }
  .g-h-push11 { margin-left: 274px; margin-right: -254px; }
  .g-h-pull1 { margin-left: -14px; }
  .g-h-pull2 { margin-left: -38px; }
  .g-h-pull3 { margin-left: -62px; }
  .g-h-pull4 { margin-left: -86px; }
  .g-h-pull5 { margin-left: -110px; }
  .g-h-pull6 { margin-left: -134px; }
  .g-h-pull7 { margin-left: -158px; }
  .g-h-pull8 { margin-left: -182px; }
  .g-h-pull9 { margin-left: -206px; }
  .g-h-pull10 { margin-left: -230px; }
  .g-h-pull11 { margin-left: -254px; }
  .g-h-right { display: inline; float: right; }
  .g-h-left { display: inline; float: left; }
  .g-h-f { clear: left; }
  .g-h-l { clear: right; } }
